body, html{
    height: 100%;
    margin: 0;
}
.bg{
    border-image-source: "backimg.jpg";
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    background-color: aqua;
    border: 4px red;
}
.h2{
    background-color: black;
    align-self: center;
}
table{
    border-top: 4px soild green;
    background-color: gold;
    border: 3px solid sienna;
    margin: 10px;
}
tr{
    background-color: aqua;
    border: 30px;
}
form{
    background-color: brown;
    align-content: center;
    font-size: x-large;
}